* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ad1c34;
  font-family: 'Carrois Gothic SC', sans-serif;
}
h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: 'Carrois Gothic SC', sans-serif;
}
h2 {
  font-size: 40px;
}
hr {
  margin: 10px 5%;
  border: 1px solid white;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #52c0d1;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.right::after {
  left: -16px;
}
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.datas {
  float: left;
  width: 48%;
  margin: 10px 1%;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #946edb;
  border-radius: 5%;
  padding: 20px 0;
}
.dataset {
  background-color: #4ab577;
}
@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }
  .left::after, .right::after {
  left: 15px;
  }
  .right {
  left: 0%;
  }
}
.card {
  margin: 0 5%;
}
