body{
    display: flex;
    flex-direction: column
}
.balance{
    margin: 16px 0px;
    background: #7264C9
}

.flex_cont{
    padding: 8px;
    display: flex;
}

.flex_cont *{
    flex: 1
}

.sales_count, .expenses_count, .product_count{
    background: #00DCB8
}

.card-shadow{
    flex-shrink: 0px;
    flex-direction: column;
    display: flex
}
.altUI_ListViewItem{
    padding-right: 20px;
}
